.customButton {
  width: 180px;
  height: 45px;
  border: none;
  border-radius: 6.5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  transform: skew(-10deg);
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.customButton:active {
  transform: skew(-10deg) scale(0.96);
}

.customButton:hover {
  filter: brightness(0.7);
}
