.footerBg {
  background: var(--bg-dark);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerIcon {
  color: var(--text-light);
  opacity: 0.8;
  margin-right: 10px;
  transition: color 0.2s ease;
}

.footerLink {
  font-size: 0.8rem;
  color: var(--text-light);
  transition: color 0.3s ease;
}

.footerLinkHeader {
  transform: skew(-10deg);
  font-size: 1rem;
  color: var(--text-light);
}

.footerLink:hover {
  color: #66b2ff;
}

@media (max-width: 575px) {
  .footerBg {
    padding-bottom: 0.1rem;
  }
  .footerIcon {
    margin-right: 12px;
  }
}
