.modalCvBody {
  background: var(--modal-bg);
  border: none;
  border-radius: 7.5px;
  position: relative;
  padding: 1rem;
  color: var(--text-light);
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.modalCv {
  --bs-modal-width: 400px;
}

.modalCvTitle {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.globeIcon {
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.flagContainer {
  margin-top: 2rem;
}

.flagIcon {
  font-size: 3.5rem;
  cursor: pointer;
  opacity: 0.7;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.flagIcon:hover {
  opacity: 1;
  transform: scale(1.15);
}

.flagIcon:active {
  transform: scale(0.98);
}

@media (max-width: 425px) {
  .modalCvTitle {
    font-size: 1.2rem;
  }

  .globeIcon {
    font-size: 1rem;
  }
}
