.navLink,
.navIcon,
.navLinkText {
  transition: color 0.3s ease;
}

.navLink {
  display: flex;
  align-items: center;
}

.navIcon {
  color: var(--nav-icon-color);
}

.navLinkText {
  color: var(--nav-link-color);
  letter-spacing: 1.25px;
  font-size: 1.05rem;
}

.navLinkText:hover {
  color: var(--nav-link-hover-color);
}

.navLinkText:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}

.navLogo {
  width: 1.9rem;
  transition: opacity 0.3s ease;
}

.navLogo:hover {
  opacity: 0.7;
}

.customNavbar {
  background: var(--bg-dark);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.customToggle {
  transition: transform 0.3s ease;
  box-shadow: none !important;
}

.customToggle:hover,
.customToggle:focus {
}

.customToggle:active {
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.navIconToggle {
  color: var(--nav-icon-color);
  font-size: 1.8rem;
  transition: transform 0.3s ease;
  display: inline-block;
}
