.fixedBackground {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/assets/imgDarkBg.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
  z-index: -1;
}

.certificateIcon {
  color: var(--certificate-color);
  padding-right: 0.5rem;
}

.linkedinIcon {
  color: var(--linkedin-color);
  padding-right: 0.5rem;
}

.githubIcon {
  color: var(--github-color);
  padding-right: 0.5rem;
}

.pdfIcon {
  color: var(--pdf-color);
  padding-right: 0.5rem;
}

.sourceCodeIcon {
  color: var(--source-code-color);
}

.copyrightText {
  transform: skew(-10deg);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 0.8rem;
  color: var(--text-light);
  opacity: 0.8;
}

/* Container Styles */
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.sectionContainer {
  padding-right: 0;
  padding-left: 0;
}

.sectionPadding {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

.sectionTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  line-height: 0;
}

.cardText {
  line-height: 1.8;
  letter-spacing: 0.3px;
}

.customTooltip {
  color: var(--text-light);
  border: none;
  border-radius: 7.5px;
}

.cardBgColor {
  background: var(--card-bg);
  border: none;
  border-radius: 7.5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}

.modalBody {
  background: var(--modal-bg);
  border: none;
  width: 100%;
  max-width: 500px;
  border-radius: 7.5px;
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
  padding-left: 0;
  padding-right: 0;
  color: var(--text-light);
}

.cardBgImage {
  position: relative;
}

.cardBgImage::before {
  content: '';
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  background-image: var(--card-bg-image-url);
  opacity: 0.1;
}

.cardBgImage > * {
  position: relative;
  z-index: 1;
}

.cardBody {
  padding: 0.9rem;
  border: none;
}

.formBody {
  padding: 0;
  border: none;
}

.cardHeader {
  letter-spacing: 0.3px;
  font-size: 1.25rem;
}

.customBadge {
  padding-top: 0.1rem;
  display: inline-block;
  align-items: center;
  color: var(--badge-color);
  margin-right: 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  transform: skew(-10deg);
}

.badgeText {
  color: var(--badge-color);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  background-color: #00000067;
  border-radius: 0 10rem 0 50rem;
  height: 35px;
  width: 35px;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 10;
}

.closeButton:hover {
  opacity: 1;
}

.xMark {
  font-size: 1.2rem;
  color: var(--btn-close-color);
}

.socialIcon {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.mainIcon {
  color: var(--main-icon-color);
  margin-right: 0.65rem;
  font-size: 1.8rem;
}

.sectionTitle {
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--section-title-color);
}

.titleIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.buttonIcon {
  color: var(--btn-icon-color);
}

.buttonText {
  letter-spacing: 0.3px;
  color: var(--text-light);
}
