/* CSS variables for theme customization */
:root {
  --badge-color: #2d2d2d;
  --bg-dark: #181818e5;
  --bg-transparent: transparent;
  --body-bg: #d3d2d2;
  --bs-body-bg: none !important;
  --bs-border-color: none !important;
  --bs-border-width: 0 !important;
  --bs-form-invalid-border-color: none !important;
  --bs-form-invalid-color: none !important;
  --bs-form-valid-border-color: none !important;
  --bs-form-valid-color: none !important;
  --bs-modal-border-color: none !important;
  --bs-modal-border-width: 0 !important;
  --bs-modal-box-shadow: none !important;
  --bs-modal-margin: 0 !important;
  --bs-modal-padding: 0 !important;
  --card-bg: #f0f0f0d8;
  --card-bg-image-url: url('../src/assets/imgBackground.webp');
  --certificate-color: #ffc800;
  --trash-icon-color: #ffc800;
  --error-icon-color: #dc1a1a;
  --form-border-color: #dadada;
  --github-color: #ffffff;
  --linkedin-color: #0a66c2;
  --main-icon-color: #2d2d2d;
  --modal-bg: #181818d8;
  --nav-icon-color: #0284d4;
  --nav-link-color: #e6e6e6;
  --nav-link-hover-color: #40a9ff;
  --pdf-color: #dc1a1a;
  --scrollbar-thumb-gradient: #cccccc;
  --scrollbar-thumb-hover-gradient: #8a8a8a;
  --scrollbar-track-gradient: #171717;
  --section-title-color: #2d2d2d;
  --source-code-color: #3fb950;
  --spinner-color: linear-gradient(
    90deg,
    #015180 0%,
    #0169b2 50%,
    #0284d4 100%
  );
  --text-color: #2d2d2d;
  --text-hero: linear-gradient(180deg, #015180 25%, #015180 50%, #4b89cc 75%);
  --text-light: #f2f2f2;
  --btn-bg-dark: linear-gradient(180deg, #383838 0%, #282828 50%, #181818 100%);
  --btn-bg-primary: linear-gradient(
    180deg,
    #0284d4 0%,
    #0169b2 50%,
    #015180 100%
  );
  --btn-icon-color: #f2f2f2;
  --btn-close-color: #f2f2f2;
  --toast-bg: linear-gradient(
    180deg,
    #181818e6 0%,
    #232323d9 50%,
    #181818e6 100%
  );
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  color: var(--text-color);
  background: var(--body-bg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.7rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-gradient);
  box-shadow:
    inset 0 0 5px rgba(0, 0, 0, 0.3),
    0 0 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-gradient);
  box-shadow:
    inset 0 0 5px rgba(0, 0, 0, 0.4),
    0 0 5px rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-gradient);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
