/* CSS variables for theme customization */
:root {
  --badge-border-color: #dadada;
  --badge-color: #2d2d2d;
  --bg-dark: linear-gradient(180deg, #1a1a1a 0%, #282828 50%, #1a1a1a 100%);
  --bg-transparent: transparent;
  --body-bg: linear-gradient(
    180deg,
    #fafafa 0%,
    #f0f0f0 15%,
    #e6e6e6 30%,
    #dcdcdc 45%,
    #d2d2d2 60%,
    #c8c8c8 75%,
    #bebebe 90%
  );
  --bs-body-bg: none !important;
  --bs-border-color: none !important;
  --bs-border-width: 0 !important;
  --bs-form-invalid-border-color: none !important;
  --bs-form-invalid-color: none !important;
  --bs-form-valid-border-color: none !important;
  --bs-form-valid-color: none !important;
  --bs-modal-border-color: none !important;
  --bs-modal-border-width: 0 !important;
  --bs-modal-box-shadow: none !important;
  --bs-modal-margin: 0 !important;
  --bs-modal-padding: 0 !important;
  --card-bg: linear-gradient(180deg, #ffffff 0%, #f5f5f5 25%, #eeeeee 75%);
  --card-bg-image-url: url('../src/assets/imgBackground.webp');
  --certificate-color: #ffc800;
  --trash-icon-color: #ffc800;
  --error-icon-color: #dc1a1a;
  --error-text-color: #2d2d2d;
  --form-border-color: #dadada;
  --github-color: #ffffff;
  --input-placeholder-color: #2d2d2d;
  --linkedin-color: #0a66c2;
  --main-icon-color: #2d2d2d;
  --modal-bg: linear-gradient(
    180deg,
    #181818d8 0%,
    #232323c9 50%,
    #181818d8 100%
  );
  --nav-icon-color: #0284d4;
  --nav-link-color: #e6e6e6;
  --nav-link-hover-color: #40a9ff;
  --pdf-color: #dc1a1a;
  --scrollbar-thumb-gradient: linear-gradient(
    180deg,
    #cccccc 0%,
    #bebebe 50%,
    #b0b0b0 100%
  );
  --scrollbar-thumb-hover-gradient: linear-gradient(
    180deg,
    #a8a8a8 0%,
    #999999 50%,
    #8a8a8a 100%
  );
  --scrollbar-track-gradient: linear-gradient(
    180deg,
    #2a2a2a 0%,
    #1f1f1f 50%,
    #171717 100%
  );
  --section-title-color: #2d2d2d;
  --source-code-color: #3fb950;
  --spinner-color: linear-gradient(
    90deg,
    #015180 0%,
    #0169b2 25%,
    #0284d4 50%,
    #0284d4 75%,
    #1a91db 100%
  );
  --text-color: #2d2d2d;
  --text-hero: linear-gradient(180deg, #015180 25%, #015180 50%, #4b89cc 75%);
  --text-light: #f2f2f2;
  --btn-bg-dark: linear-gradient(180deg, #383838 0%, #282828 50%, #181818 100%);
  --btn-bg-primary: linear-gradient(
    180deg,
    #0284d4 0%,
    #0169b2 50%,
    #015180 100%
  );
  --btn-icon-color: #f2f2f2;
  --btn-close-color: #f2f2f2;
  --toast-bg: linear-gradient(
    180deg,
    #181818e6 0%,
    #232323d9 50%,
    #181818e6 100%
  );
}
