/* Input Group Icon Styling */
.inputGroup {
  padding-left: 0.2rem;
  border-bottom: 3px solid var(--form-border-color);
  border-radius: 0;
  box-shadow: none;
  transition: border-color 0.3s ease;
}

.inputGroupBody {
  border-bottom: none;
}

.errorIcon {
  color: var(--error-icon-color);
}

.errorMessage {
  display: block;
  color: var(--text-color);
  padding: 0.2rem 0.375rem;
  border-bottom-left-radius: 6.5px;
  border-bottom-right-radius: 6.5px;
  font-size: 0.7rem;
}

.inputGroupIcon {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  border: none;
  width: 1.1rem;
  background-color: var(--bg-transparent);
}

.inputGroupControl {
  font-size: 0.8rem;
  padding-left: 0.4rem;
  color: var(--text-color);
}

.inputGroupControl::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

.inputGroupControl:focus {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.submitButton {
  width: 100px;
  max-width: 100%;
  height: 30px;
  font-size: 0.95rem;
  border: none;
  border-radius: 6.5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  transform: skew(-10deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: var(--btn-bg-primary);
}

.buttonIcon {
  font-size: 0.9rem;
  color: var(--btn-icon-color);
}

.buttonIconClear {
  color: var(--trash-icon-color);
}

.buttonText {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  color: var(--text-light);
}

.submitButton:hover {
  filter: brightness(0.7);
  background: var(--btn-bg-primary);
}

.submitButton:active {
  transform: skew(-10deg) scale(0.96);
  background: var(--btn-bg-primary) !important;
}

.clearButton {
  width: 40px;
  max-width: 100%;
  height: 30px;
  border: none;
  border-radius: 6.5px;
  transition: all 0.2s ease;
  transform: skew(-10deg);
  display: flex;
  align-items: center;
  background: var(--btn-bg-dark);
}

.clearButton:hover {
  filter: brightness(0.7);
  background: var(--btn-bg-dark);
}

.clearButton:active {
  transform: skew(-10deg) scale(0.96);
  background: var(--btn-bg-dark) !important;
}
