.customButton {
  width: 145px;
  max-width: 100%;
  height: 30px;
  border: none;
  font-size: 0.95rem;
  border-radius: 6.5px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(-10deg);
  text-transform: uppercase;
}

.credentialButton {
  background: var(--btn-bg-dark);
}

.credentialButton:hover {
  background: var(--btn-bg-dark);
}

.credentialButton:active {
  background: var(--btn-bg-dark) !important;
}

.customButton:hover {
  filter: brightness(0.7);
}

.customButton:active {
  transform: skew(-10deg) scale(0.96);
}

.buttonIcon {
  margin-right: 5px;
  font-size: 0.9rem;
  color: var(--text-light);
}

.buttonText {
  letter-spacing: 0.3px;
  color: var(--text-light);
}
