.heroImage {
  width: 225px;
  height: 225px;
  object-fit: cover;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.heroImage:hover {
  opacity: 0.95;
  filter: brightness(0.8);
  transform: scale(1.05);
}

.developerTitle {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.gradientText {
  background: var(--text-hero);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--bg-transparent);
  font-size: 2.8rem;
  letter-spacing: 3px;
  font-weight: 500;
}

.downloadButton {
  background-image: var(--btn-bg-primary);
}

.contactButton {
  background-image: var(--btn-bg-dark);
}

.buttonIcon {
  margin-left: 0.25rem;
}

@media (max-width: 768px) {
  .heroImage {
    width: 185px;
    height: 185px;
  }

  .gradientText {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  .developerTitle {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
}

@media (max-width: 525px) {
  .gradientText {
    font-size: 2.3rem;
    letter-spacing: 1.5px;
  }

  .developerTitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 340px) {
  .gradientText {
    font-size: 1.9rem;
  }

  .developerTitle {
    font-size: 1rem;
  }
}
