.technologies {
  margin-bottom: 1.5rem;
  transform: skew(-10deg);
}

.badgePosition {
  position: relative;
}

.hackathonBadge {
  position: absolute;
  bottom: 3rem;
  right: 0.5rem;
  width: 6.5rem;
  opacity: 0.8;
}

.userIcon {
  font-size: 1.3rem;
}

.gitpodLogo {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  width: 3.5rem;
  opacity: 0.8;
}

.customButton {
  width: 104px;
  max-width: 100%;
  height: 30px;
  border: none;
  border-radius: 6.5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(-10deg);
  font-size: 0.95rem;
}

.githubButton {
  background: var(--btn-bg-dark);
}

.githubButton:hover {
  background: var(--btn-bg-dark);
}

.githubButton:active {
  background: var(--btn-bg-dark) !important;
}

.newBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--btn-bg-primary);
  margin-left: 0.5rem;
  height: 1.3rem;
  width: 2.7rem;
  border: none;
  font-size: 0.7rem;
  border-radius: 6.5px;
  transform: skew(-10deg);
}

.demoButton {
  background: var(--btn-bg-primary);
}

.demoButton:hover {
  background: var(--btn-bg-primary);
}

.demoButton:active {
  background: var(--btn-bg-primary) !important;
}

.customButton:hover {
  filter: brightness(0.7);
}

.customButton:active {
  transform: skew(-10deg) scale(0.96);
}

.buttonIcon {
  margin-right: 10px;
  font-size: 0.9rem;
  color: var(--btn-icon-color);
}

.buttonText {
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  color: var(--text-light);
}

.githubStats img {
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: skew(-10deg);
  border-bottom: 1px solid var(--img-shield-border-color);
  border-radius: 0;
}

@media (max-width: 425px) {
  .hackathonBadge {
    width: 5.5rem;
  }
}
