.skillCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.skillIcon {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 0.7rem;
}

.learningBadge {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background: var(--btn-bg-dark);
  color: var(--text-light);
  letter-spacing: 0.3px;
  width: 100%;
  height: 1.4rem;
  border-radius: 0 0 6.5px 6.5px;
  font-size: 0.8rem;
}

.learningIcon {
  margin-right: 0.25rem;
  transform: skew(-10deg);
}

.skillsLearning {
  transform: skew(-10deg);
}
