.skillCard {
  position: relative;
  margin-top: 0.8rem;
}

.skillIcon {
  font-size: 4rem;
  color: var(--primary);
  margin-bottom: 0.4rem;
}

.learningBadge {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  background-image: var(--btn-bg-dark);
  color: var(--text-light);
  width: 100%;
  height: 1.3rem;
  border-radius: 0 0 6.5px 6.5px !important;
  font-size: 0.8rem;
}

.learningIcon {
  margin-right: 0.25rem;
}
